<% extend base %>
<% load widgets %>

This text will not be included in the output when extending...

<% block foo %>
    <div class="widget <%=active ? 'active' : ''%>">
    <%: for (name in people) { %>
        <div class="person"><%=people[name].email%> is 'here'</div>
    <%: }%>
    <% include banner %>
    <%=$blaat("x")%>
    <%=$trim('  xx  x') + $isString('x')%>
    tabb    tabb    tabb    tabb
    </div>
    
    <% blocktrans %>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<%='XXXXX'%> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <% endblocktrans %>
<% endblock %>

This text will not be included in the output when extending... 